@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* General Style */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: "Poppins", sans-serif; 
  font-size: 1rem;
  color:#111;
  line-height: 1.4;
     font-family: var(--font);
    background: rgb(238, 174, 202);
    background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    );
}

.container{
  max-width: 1200px;
  margin:0 auto;
  padding:0 1rem;
}

.btn-primary {
  text-decoration: none;
  color: #fff;
  background-color: #4b088a;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all .5s ease;
  border: none;
  cursor: pointer;
}

.btn-primary:hover{
  color-scheme: #4b088a;
  background-color:  #331197;
 
}
section:not(.hero) {
padding: 6rem 0;
}

section > .section-title{
  text-align: center;
  font-size: 2rem;
  margin-bottom: .5rem;
}

  section > .section-subtitle{
text-align: center;
color: dimgrey;
margin-bottom: 3rem;
  
}
/* Header style */
header{
  color: #fff;
  background-color: #331197;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

}
header > .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}
header .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  
}
img {
  max-width: 100%;
  height: auto;
  display: block; /* avoids inline spacing issues */
}

header .bnt-toggle{
  background: transparent;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 5px;
  padding: .5rem;
}
header .navigation{
  flex-basis: 100%;
  margin-top: 1rem;
  display: none;
}
header .navigation.active{
display: block;
}
header .nav-items{
  list-style: none;
}
.nav-items .nav-link {
text-decoration: none;
color: #fff;
padding: .5rem 0;
display: block;
border-radius: 5px;
transition: all .5s ease;
}
.nav-items .nav-link:hover {
background-color: #4b088a;
padding-left: .5rem;
}
/* Hero-style */
.hero{
  height: 90vh;
  /*background: url('images/spoon.jpg'); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

position:relative;
}
.hero-overlay {
  color: #fff;
  background: #00000050;
  position: absolute;
inset: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.hero-content {
  text-align: center;
  text-wrap: balance;
}
.hero-content h2 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.hero-content p {
  margin-bottom: 2rem;
}
/* Service style */
.services > .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
.service-card {
  text-align: center;
  background-color: rgb(207, 193, 245);
border-radius: 5px;
padding: 1rem;
transition: box-shadow .5s ease ;
}
.service-card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}
.service-card .service-title {
font-size: 1.125rem;
margin-bottom: .5rem;
}

/* Project style */

.projects {
  background-color: rgb(207, 193, 245);
}
.projects > .container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   gap: 2rem;
   justify-items: center;
}
.project-card {
background-color: #fff;
max-width: 500px;
}
.project-card .project-link {
display: block;
position: relative;
height: 250px;
}
.project-card .project-overlay {
  font-weight: bold;
  color:#fff;
  background-color: #4b088a;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .25s ease-in-out;

}
.project-card .project-overlay span{
border: solid 3px #fff ;
padding: 1rem;
border-radius: 5px;
}


.project-card .project-link img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-card .project-link:hover .project-overlay {
  opacity: 1;
}

.project-card .project-details {
  text-align: center;
   padding: 1rem;
}
.project-card .project-details h3 {
margin-bottom: .5rem;
}

/*--Contact style--*/
.contact {
  background: #f8f9f9fa;
  
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem
}
.contact-form .form-message {
  grid-column: 1 / span 2;
}
.contact-form input,
.contact-form textarea {
  font-family: inherit;
  padding: 1rem;
  width: 100%;
  border: none;
}
.contact-form .btn-primary {
  grid-column: 1 / span 2;
}
/*--Footer style--**/
footer {
  color: #fff;
  background-color: #331197;
  padding: 1.25rem 0;
}
footer > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
footer .social-items {
  list-style: none;
  display: flex;
  gap: .75rem;
}
footer .social-items .social-link {
  text-decoration: none;
  color: #fff;
}

/* Media Query style */
@media screen and (min-width: 768px){
  /* Style general */
  .btn-primary{
  font-size: 1rem;
  padding: 1rem 3rem;
  }

  /*Header style */
  header .btn-toggle{
    display: none;
  }

  header .navigation {
    display: flex;
    flex-basis: auto;
    margin: 0;
  }

  header .nav-items {
    display: flex;
    gap: 1rem;
  }

  .nav-items .nav-link {
   padding: .5rem;
  }

  /*Hero style */
  .hero-content{
    max-width: 700px;
  }

  .hero-content h2 {
    font-size: 3.5rem;
  }

  .hero-content p {
    font-size: 1.125rem;
  }

  /* Contact style*/

  .contact-form .btn-primary {
    width: auto;
    justify-self: center;
  }

  /*Footer style
 footer > .container {
  flex-direction: row;
  justify-content: space-between;
} */

}
 



