@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif; 
  font-size: 1rem;
  color:#111;
  line-height: 1.4;
}
.container{
  max-width: 1200px;
  margin:0 auto;
  padding:0 1rem;
}

.btn-primary {
  text-decoration: none;
  color: #fff;
  background-color: #4b088a;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all .5s ease;
}
.btn-primary:hover{
  color-scheme: #4b088a;
  background-color: #331197;
 
}
/* Header style */
header{
  color: #fff;
  background-color: #331197;

}
header > .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}
header .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  
}
img{
  width: 75px;
  height:auto;
}

header .bnt-toggle{
  background: transparent;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 5px;
  padding: .5rem;
}
header .navigation{
  flex-basis: 100%;
  margin-top: 1rem;
  display: none;
}
header .navigation.active{
display: block;
}
header .nav-items{
  list-style: none;
}
.nav-items .nav-link {
text-decoration: none;
color: #fff;
padding: .5rem 0;
display: block;
border-radius: 5px;
transition: all .5s ease;
}
.nav-items .nav-link:hover {
background-color: #4b088a;
padding-left: .5rem;
}
/* Hero-style */
.hero{
  height: 90vh;
  background: url('images/spoon.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

position:relative;
}
.hero-overlay{
  color: #fff;
  background: #00000080;
  position: absolute;
inset: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.hero-content{
  text-align: center;
  text-wrap: balance;
}
.hero-content h2{
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.hero-content p {
  margin-bottom: 2rem;
}
